*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange: #F2AE66;
    --white: #FFF;
    --black: #000;
}

::selection{
    background-color: var(--orange);
    color: var(--black);
}

body{
    background-color: #09122c;
    font-family: sans-serif;
    min-height: 100vh;
}

/* STYLE DE BASE */
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    object-fit: cover;
}

/* PART HEADER */
header{
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
}
header #title{
    font-size: 2rem;
    color: var(--orange);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
header nav ul a{
    position: relative;
    text-transform: uppercase;
    color: var(--white);
    padding: 12px 24px;
}
header nav ul li:nth-child(1) a:hover{
    color: var(--orange);
}
header nav ul li:nth-child(1) a:hover::before{
    transform: scaleX(1);
}
header nav ul li:nth-child(1) a::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 100%;
    width: 75%;
    height: 2px;
    background-color: var(--orange);
    transform: scaleX(0);
    transform-origin: left 50%;
    transition: transform 250ms linear;
}
header nav ul li:nth-child(2) a{
    border: 1px solid var(--orange);
    border-radius: 2px;
    transition: background-color 200ms;
}
header nav ul li:nth-child(2) a:hover{
    background-color: var(--orange);
    color: var(--black);
}

/* PRESENTATION */
section#presentation{
    padding: 10px 150px;
    display: flex;
}
section#presentation div:nth-child(1){
    margin-top: 100px;
    flex: 1.5;
}
section#presentation div:nth-child(2){
    flex: 1;
}
section#presentation p{
    font-size: 1.4rem;
    -webkit-animation: display-top 900ms backwards ease-in-out;
    animation: display-top 900ms backwards ease-in-out;
}
section#presentation p:first-child{
    color: var(--orange);
}
section#presentation p:last-child{
    color: var(--white);
    animation-delay: 1.5s;
}
section#presentation h1{
    font-family: 'Times New Roman', Times, serif;
    margin-block: 10px;
    font-size: 4rem;
    color: var(--white);
    -webkit-animation: display-top 900ms 1s backwards ease-in-out;
    animation: display-top 900ms 1s backwards ease-in-out;
}

/* ANIMATIONS TEXTES */
@-webkit-keyframes display-top {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes display-top {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

section#presentation h1 span{
    display: block;
}
section#presentation img{
    width: 350px;
}


@media (width <= 1024px)  {
    /* PART HEADER */
    header{
        padding: 30px 24px;
    }
    /* PRESENTATION */
    section#presentation{
        padding: 50px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    section#presentation div:nth-child(1){
        margin-top: 120px;
        flex: 1.5;
    }
    section#presentation h1, 
    section#presentation p{
        text-align: center;
    }
    section#presentation h1 span{
        display: inline
    };
    section#presentation div:nth-child(2){
        display: none;
    }
}

@media (width <= 450px) {
    /* PART HEADER */
    header{
        justify-content: flex-end;
    }
    header div:nth-child(1){
        display: none;
    }
    header nav ul a{
        position: relative;
        text-transform: uppercase;
        color: var(--white);
        padding: 14px;
    }
}