*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange: #ffc576;
    --orange_fort: rgba(255,197,118,.749);
    --white: #FFF;
    --black: #000;
    --blaucous: rgba(49,53,82,.71);
    --blaucous_claire: #313552;
    --slate: #1f2235;
    --gray: #9899a8;
}

::selection{
    background-color: var(--orange);
    color: var(--black);
}

body{
    background-color: var(--slate);
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
}

/* STYLE DE BASE */
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
    object-fit: cover;
}
svg{
    width: 18px;
}
h1{
    font-size: 2.625rem;
    color: var(--white);
    margin-top: 10px;
}
h2{
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: var(--white);
    line-height: 1.6;
}
p{
    line-height: 1.7;
}
.flex{
    display: flex;
}
.text-orange{
    color: var(--orange);
    text-transform: uppercase;
    font-weight: 600;
    -o-animation: display-top;
    -webkit-animation: display-top both;
    animation: display-top;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}
#competences,
#projets,
#contact{
    padding: 100px 150px;
}

/* PART HEADER */
header#main-header{
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
}
header#main-header #title{
    font-size: 2.8rem;
    color: var(--orange);
    font-weight: bold;
    font-family:'Sevillana', Times, serif;
}
header#main-header nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
header#main-header nav ul a{
    position: relative;
    text-transform: uppercase;
    color: var(--white);
    padding: 12px 24px;
}
header#main-header nav ul li:nth-child(1) a:hover{
    color: var(--orange);
}
header#main-header nav ul li:nth-child(1) a:hover::before{
    transform: scaleX(1);
}
header#main-header nav ul li:nth-child(1) a::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 100%;
    width: 75%;
    height: 2px;
    background-color: var(--orange);
    transform: scaleX(0);
    transform-origin: left 50%;
    transition: transform 250ms linear;
}
header#main-header nav ul li:nth-child(2) a{
    border: 1px solid var(--orange);
    border-radius: 2px;
    transition: background-color 200ms;
}
header#main-header nav ul li:nth-child(2) a:hover{
    background-color: var(--orange);
    color: var(--black);
}
header#main-header nav ul li:nth-child(2) a span:nth-child(2){
    display: none;
}

/* SECTION PRESENTATION */
section#presentation{
    padding: 10px 150px;
    display: flex;
    gap: 30px;
}
section#presentation div:nth-child(1){
    margin-top: 100px;
    flex: 1.5;
}
section#presentation div:nth-child(2){
    flex: 1;
}
section#presentation p{
    font-size: 1.4rem;
    -webkit-animation: display-top 400ms backwards ease-in-out;
    animation: display-top 400ms backwards ease-in-out;
}
section#presentation p:first-child{
    color: var(--orange);
}
section#presentation p:last-child{
    color: var(--white);
    animation-delay: 400ms;
}
section#presentation h1{
    font-family: 'Times New Roman', Times, serif;
    margin-block: 10px;
    font-size: 4rem;
    color: var(--white);
    -webkit-animation: display-top 400ms 200ms backwards ease-in-out;
    animation: display-top 400ms 200ms backwards ease-in-out;
}
section#presentation h1 span{
    display: block;
}
section#presentation img{
    width: 350px;
}

/* SECTION COMPETENCES*/
#competences{
    background-color: var(--blaucous);
}
#competences .flex-competences{
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
#competences h1{
    -o-animation: display-top;
    -webkit-animation: display-top both;
    animation: display-top;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}
#competences .flex-competences article{
    width: 33.33%;
    align-self: stretch;
    padding: 30px 30px 50px;
    border: 2px solid rgba(242, 174, 102, 0.3);
    transition: all 200ms linear;
    -webkit-animation: fadeUp both;
    animation: fadeUp both;
    animation-timeline: view(60% 5%);
}
#competences .flex-competences article:nth-child(1){
    animation-range: entry 20% cover 40%;
}
#competences .flex-competences article:nth-child(2){
    animation-range: entry 40% cover 60%;
}
#competences .flex-competences article:nth-child(3){
    animation-range: entry 60% cover 80%;
}
#competences .flex-competences article img{
    width: 120px;
}
#competences .flex-competences article:nth-child(3) img{
    width: 40px;
}
#competences .flex-competences article h2{
    margin-top: 30px;
}
#competences .flex-competences article:hover{
    border: 2px solid var(--orange);
    
}
#competences .flex-competences article:hover h2{
    color: var(--orange);
}
#competences .flex-competences article p{
    color: var(--white);
}

/* SECTION PROJETS */
#projets .flex-projets{
    padding: 0px 100px 50px 0;
    overflow-x: scroll;
    margin-top: 50px;
    gap: 30px;
    -webkit-animation: fadeUp both;
    animation: fadeUp both;
    animation-timeline: view(50% 10%);
    animation-range: entry 20% cover 100vh;
}
#projets h1{
    -o-animation: display-top;
    -webkit-animation: display-top both;
    animation: display-top;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}
#projets .flex-projets article{
    max-width: 450px;
    flex-shrink: 0;
    background-color: var(--blaucous);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
#projets .flex-projets article::before{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 50% top;
    background-color: var(--orange);
    transition: transform 150ms ease-in-out;
}
#projets .flex-projets article:hover::before{
    transform: scaleY(4.5);
}
#projets .flex-projets article img{
    border-radius: 10px;
}
#projets .flex-projets article .text-content{
    padding: 40px 30px;
}
#projets .flex-projets article h2{
    margin-top: 10px;
}
#projets .flex-projets article .text-orange{
    font-size: 0.875rem;
}
#projets .flex-projets article p{
    color: var(--white);
}
#projets .flex-projets article .ctn-btn{
    margin-top: 30px;
}
#projets .flex-projets article .ctn-btn a{
    display: inline-flex;
    align-items: center;
    color: var(--orange);
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 10px 24px;
    border: 1px solid var(--orange);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}
#projets .flex-projets article .ctn-btn a svg{
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out;
}
#projets .flex-projets article .ctn-btn a:hover svg{
    opacity: 1;
    visibility: visible;
    transform: translateX(5px);
}
#projets .flex-projets article .ctn-btn a:hover{
    color: var(--black);
    z-index: 1;
}
#projets .flex-projets article .ctn-btn a::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: var(--orange);
    opacity: 0;
    transition: opacity 200ms linear;
}
#projets .flex-projets article .ctn-btn a:hover::before{
    opacity: 1;
}
/* LES ANIMATIONS */
@-webkit-keyframes display-top {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes display-top {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* SECTION CONTACT */
#contact{
    background-color: var(--blaucous);
}
#contact .flex-links-contact{
    margin-top: 50px;
    gap: 40px;
}
#contact a{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    border: 1px solid var(--orange_fort);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
#contact a:hover{
    z-index: 1;
}
#contact a::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
    background-color: var(--orange_fort);
    transition: opacity 200ms ease-in-out;
}
#contact a:hover::before{
    opacity: 1;
}
#contact a p{
    color: var(--orange);
}
#contact a:hover p{
    color: var(--black);
}
#contact h2{
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 5px !important;
}
#contact a:hover h2{
    color: var(--black);
}
#contact a i{
    font-size: 4rem;
    color: var(--slate);
}

/* SECTION FOOTER*/
footer{
    background-color: var(--blaucous_claire);
    padding: 50px 5px;
}
footer p{
    text-align: center;
    color: var(--gray);
    font-size: 0.875rem;
}

/* LES MEDIAS QUERIES */

@media (max-width: 1024px)  {
    /* PART HEADER */
    header#main-header{
        padding: 30px 24px;
    }

    /* SECTION COMPETENCES  et SECTION PROJETS */
    #competences,
    #projets,
    #contact{
        padding-inline: 24px;
    }

}

@media (max-width: 768px) {
    /* SECTION PRESENTATION */
    section#presentation{
        padding: 50px 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    section#presentation div:nth-child(2){
        align-self: flex-end;
    }

    /* SECTION PROJETS */
    #projets .flex-projets{
        width: 90vw;
        padding-left: 0px;
    }
}

@media (max-width: 640px) {
    /* SECTION PRESENTATION */
    section#presentation{
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
    section#presentation div:nth-child(2){
        display: none;
    }
    section#presentation h1,
    section#presentation p{
        text-align: center;
    }

    /* SECTION COMPETENCES */
    #competences .flex-competences{
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }
    #competences .flex-competences article{
        width: 100%;
        align-self:baseline;
    }

    /* SECTION CONTACT */
    #contact .flex-links-contact{
        flex-direction: column;
        margin-top: 50px;
        gap: 40px;
    }
}


@media (max-width: 450px) {
    /* PART HEADER */
    header#main-header{
        justify-content: flex-end;
    }
    header#main-header div:nth-child(1){
        display: none;
    }
    header#main-header nav ul a{
        position: relative;
        text-transform: uppercase;
        color: var(--white);
        padding: 14px;
    }
    header#main-header nav ul li:nth-child(2) a span:nth-child(1){
        display: none;
    }
    header#main-header nav ul li:nth-child(2) a span:nth-child(2){
        display: inline;
    }
}